<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747078886061-q6anvio26s3g9l0gvak27g2i3p36gg9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747078886061-q6anvio26s3g9l0gvak27g2i3p36gg9f</string>
	<key>API_KEY</key>
	<string>AIzaSyBbaKpahz_5I9jvPsGWrAcIVHvkiGm15eQ</string>
	<key>GCM_SENDER_ID</key>
	<string>747078886061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.teambasketball.teambasketball</string>
	<key>PROJECT_ID</key>
	<string>realteambasketball-7f39e</string>
	<key>STORAGE_BUCKET</key>
	<string>realteambasketball-7f39e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747078886061:ios:e28526454c508b8376dc24</string>
</dict>
</plist>